body {
  font-family: 'Lato', sans-serif;
}


* {
  font-family: 'Lato', sans-serif;  
  margin: 0;
  box-sizing: border-box;
}

/*===============================[  NAVIGATION BAR ]===================================*/

.nav {
  display: flex;
  position:fixed;
  left: 0;
  top: 0px;
  z-index: 1030;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1% 1%;
  width: 100%;
  background: #f2f2f2;
}

.fixed-top {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

#navbar.bg-black {
  background: rgba(0, 0, 0, 0.8) !important;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  list-style-type: none;
}

.nav-list a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFFFFF80;
  padding: 0px 15px;
}

.nav-list a:hover {
  color: #FFFFFF;
}

.nav-link {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}


/*===============================[  WELCOME SECTION ]===================================*/

#welcome-section{
  /* Sizing */
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    font-size: 5em;

    /* Background styles */    
    background-image: url('bg_portfolio.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

#welcome-section h1{
  font-size: 4em;
  color: rgb(255, 255, 255);
  margin-bottom: -30px;
  font-family: 'Prata', serif;
  text-shadow: 1px 1px 3px black ;
}
#welcome-section p{
  font-size: 2em;
  font-weight: bold;
  color: white;
  font-family: 'Prata', serif;
  text-shadow: 1px 1px 3px black;
  margin: 32px;
}

.container {
  display: grid;
}

/*===============================[  PROJECT SECTION ]===================================*/

.project-flex {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.project-text {
  background-color: black;
  color: #ffffff;
  padding: 50px;
  margin-left: 150px;
}
.project-title {
  font-size: 42px;
  margin-bottom: 30px;
}

.project-bg01 {
  background-image: url("mk.jpg");
}
.project-bg02 {
  background-image: url("pl.jpg");
}
.project-bg03 {
  background-image: url("sf.jpg");
}
.project-bg04 {
  background-image: url("td.jpg");
}


.project-bg01,
.project-bg02,
.project-bg03,
.project-bg04 {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}


#intro-message {
  margin-left: 554px;
  border-left: solid white 7px;
  padding-left: 18px;
  color: white;
}

#intro-message h1 {
  width: 60vw;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 400;
}

/*===============================[  PROGRAMMING LANGUAGE SECTION ]===================================*/

.languages_used {
  display: flex;
}

.css-language {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6495ed;
}

.html-language {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffa500;
}

.banner-hr {
  width: 60%;
  max-width: 750px;
  border: 1px solid white;
}
hr {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  width: 100%;  
  height: 2px;  
  background-color: #ffffff; 
}

/*===============================[  BUTTON THREE ]===================================*/

a.button3:hover {
  background-color: #ffffff;
  color: #000000;
}
a.button3 {
  display: inline-block;
  padding: 0.5em 2.0em;
  margin: 1.0em 0.5em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  border: #ffffff solid 2px;
  text-align: center;
  transition: all 0.2s;
}

/*===============================[ CONTACT NEW FORM ]===================================*/
/*------------------------------[ Contact form Button ]-------------------------------*/

.container-contact-form-btn {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.contact-form-btn:hover {
  background-color: #ffffff;
  color: #000000;
  border: #000000 solid 2px;
}
.contact-form-btn {
  background-color: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 23px;
  justify-content: center;
  display: inline-block;
  padding: 1.0em 2.0em 1.0em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  border: #ffffff solid 2px;
  text-align: center;
  transition: all 0.2s;
}

.contact-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  background-color:#fff;
  flex-wrap: wrap;
  padding: 56px 55px 63px 55px;
}

.contact-form-title {
  width: 100%;
  display: block;
  font-size: 30px;
  font-family: Poppins-Regular;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}

.input100 {
  height: 55px;
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: 0;
  border: 1px solid #593838;
}

textarea.input100 {
  min-height: 139px;
  padding-top: 19px;
  padding-bottom: 15px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}


.label-input {
  font-size: 12px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}

.wrap-input100, textarea {
  width: 100%;
  border: 1px solid #e6e6e6;
}


.contact-Area {
  max-width: 1120px;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}


.contact-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}


.contact-right ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 120px 20px 0px;
}

.contact-right ul li a {
  float: left;
  color: white !important;
}

/*===============================[  CONTACT SECTION ]===================================*/

.contactItem {
  display: inline-block;
  padding-right: 1.0em;
  text-decoration: none;
  white-space:nowrap
}

.blacktext {
  color: black;
}

.highlight {
  opacity: 0.6;    
  margin-top: 10px;
}

.highlight span {    
  margin-left: 50px;
}

.highlight:hover {
  opacity: 1;
}


.contact-section {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-wrap: wrap;
  align-items: stretch;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #f2f2f2;
  background-size: cover;
  background-attachment: fixed;
}
/* END CONTACT SECTION */

/* MEDIA QUERIES */

/* FOR MOBILE

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  #intro-message {
    margin-left: 350px;
  }
  .contact-right ul {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .contact-section {  
    display:block;
    height: auto;
  }

  .contact-Area {    
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  #welcome-section{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .nav {
    justify-content: center;
  }

  .nav-list a {
    display: block;
    font-size: 1.5rem;
    padding: 2rem;
  }

  .contact-right ul {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .project-text {
    width: 50%;
  }

  .project-title {
    font-size: 62px;
  }
  
  .card-title {
    font-size: 42px;
  }

  .input100, 
  .label-input, 
  .contactItem {
    font-size: 22px;
  }
  .contact-form {
    padding: 0px 0px 63px 0px;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  .nav-list {
    display: flex;
    justify-content: space-around;
  }
  
  intro-message {
    font-size: 90px;
  }

  .project-flex {
    justify-content: center;
    padding-bottom: 1rem;
  }

  .project-text {
    width: 70%;
  }

  .contact-form {
    padding: 0px 0px 63px 0px;
  }

  .input100, 
  .label-input, 
  .contactItem {
    font-size: 32px;
}
}

/*============================[ FOOTER ]======================================*/

footer {  
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #000000;
  justify-content: space-evenly;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  background-color: #f2f2f2;
  z-index: 100;
}